:root {
    --color-text: black;
    --color-background: white;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
} 

.theme {
    display: flex;
    justify-content: space-between;
}

.theme button {
    cursor: pointer;
}